<!DOCTYPE html>
<html>
<head>
  <title>Past Requests</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Past Searches</h1>

  <ul>
    <% searches.forEach(s => { %>
      <li>
        <strong><%= s.userName %></strong> (age <%= s.age %>) searched for
        "<%= s.artist %>"
      </li>
    <% }) %>
  </ul>

  <hr>
  <form action="/processAdminRemove" method="POST">
    <button type="submit">Clear Database</button>
  </form>


  <a href="/">Back</a>
</body>
</html>
