<!DOCTYPE html>
<html>
<head>
  <title>Admin Remove</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">

</head>
<body>
  <h1>Admin Remove</h1>
  <p>Removed <%- number %> items.</p>
  <a href="/">Home</a>
</body>
</html>
